<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AB</key>
		<integer>440</integer>
	</dict>
	<dict>
		<key>AR</key>
		<integer>437</integer>
	</dict>
	<dict>
		<key>AG</key>
		<integer>520</integer>
	</dict>
	<dict>
		<key>BC</key>
		<integer>634</integer>
	</dict>
	<dict>
		<key>BH</key>
		<integer>652</integer>
	</dict>
	<dict>
		<key>BN</key>
		<integer>313</integer>
	</dict>
	<dict>
		<key>BT</key>
		<integer>422</integer>
	</dict>
	<dict>
		<key>BR</key>
		<integer>281</integer>
	</dict>
	<dict>
		<key>BV</key>
		<integer>447</integer>
	</dict>
	<dict>
		<key>BZ</key>
		<integer>427</integer>
	</dict>
	<dict>
		<key>CL</key>
		<integer>235</integer>
	</dict>
	<dict>
		<key>CS</key>
		<integer>365</integer>
	</dict>
	<dict>
		<key>CJ</key>
		<integer>656</integer>
	</dict>
	<dict>
		<key>CT</key>
		<integer>556</integer>
	</dict>
	<dict>
		<key>CV</key>
		<integer>214</integer>
	</dict>
	<dict>
		<key>DB</key>
		<integer>432</integer>
	</dict>
	<dict>
		<key>DJ</key>
		<integer>530</integer>
	</dict>
	<dict>
		<key>GL</key>
		<integer>436</integer>
	</dict>
	<dict>
		<key>GR</key>
		<integer>245</integer>
	</dict>
	<dict>
		<key>GJ</key>
		<integer>332</integer>
	</dict>
	<dict>
		<key>HR</key>
		<integer>290</integer>
	</dict>
	<dict>
		<key>HD</key>
		<integer>524</integer>
	</dict>
	<dict>
		<key>IL</key>
		<integer>220</integer>
	</dict>
	<dict>
		<key>IS</key>
		<integer>730</integer>
	</dict>
	<dict>
		<key>IF</key>
		<integer>238</integer>
	</dict>
	<dict>
		<key>MM</key>
		<integer>435</integer>
	</dict>
	<dict>
		<key>MH</key>
		<integer>286</integer>
	</dict>
	<dict>
		<key>MS</key>
		<integer>568</integer>
	</dict>
	<dict>
		<key>NT</key>
		<integer>486</integer>
	</dict>
	<dict>
		<key>OT</key>
		<integer>379</integer>
	</dict>
	<dict>
		<key>PH</key>
		<integer>623</integer>
	</dict>
	<dict>
		<key>SJ</key>
		<integer>312</integer>
	</dict>
	<dict>
		<key>SM</key>
		<integer>334</integer>
	</dict>
	<dict>
		<key>SB</key>
		<integer>370</integer>
	</dict>
	<dict>
		<key>SV</key>
		<integer>555</integer>
	</dict>
	<dict>
		<key>TR</key>
		<integer>334</integer>
	</dict>
	<dict>
		<key>TM</key>
		<integer>595</integer>
	</dict>
	<dict>
		<key>TL</key>
		<integer>204</integer>
	</dict>
	<dict>
		<key>VL</key>
		<integer>430</integer>
	</dict>
	<dict>
		<key>VS</key>
		<integer>527</integer>
	</dict>
	<dict>
		<key>VN</key>
		<integer>358</integer>
	</dict>
	<dict>
		<key>B</key>
		<real>1254</real>
	</dict>
</array>
</plist>
