<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MonitorizareVot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF4BD3801D9D08DE0042BEC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF4BD39C1D9D08DE0042BEC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF4BD3A71D9D08DE0042BEC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
